@import url("~/platform.css");

Page {
  background-color: white;
  font-size: 15;
}
TextField {
  padding: 10;
  font-size: 13;
}
.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}
ActionBar {
  background-color: black;
  color: white;
}
.action-image {
    width: 40;
    height: 40;
    vertical-align: center;
    margin-right: 10;
}
.action-label {
    color: white;
    font-size: 24;
    font-weight: bold;
    vertical-align: center;
}
.action-bar{
  
}
