.add-bar {
  background-color: #D3D3D3;
  padding: 5 10;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}
TextField {
  color: #CB1D00;
}
.wp-title {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 20px;
  font-family: Tahoma;
}
.wp-info {
  vertical-align: stretch;
  background-size: contain;
  font-family: Tahoma;
}
.bottom {
  padding: 5px;
  background-color: #ededed;
  border-color: #303030;
  border-width: 2px;
  border-style: groove;
}
#collectButton {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-color: #303030;
  border-radius: 5px;
}
.action-bar {
  background-color: #64706c;
}
