.add-bar {
  background-color: #CB1D00;
  padding: 5 10;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}
TextField {
  color: #CB1D00;
}
.wp-title {
  font-weight: bold;
  font-family: Verdana;
}
.wp-info {
  font-size: 12px;
}
.bottom {
  background-color: #D3D3D3;
}
