StackLayout {
  margin-left: 30;
  margin-right: 30;
  padding-bottom: 15;
  background-color: rgba(235, 235, 235, 0.75);
}
Label {
  color: white;
  font-size: 32;
}
Button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
}
Button, Label {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
