StackLayout {
  margin-left: 30;
  margin-right: 30;
  padding-bottom: 15;
  background-color: rgba(235, 235, 235, 0.75);
  text-align: center;
}
Button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
}
Button, Label {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
TextView {
  background-color: rgba(235,235,235,0);
}
.text {
  font-size: 24;
  color: #404040;
}
.point-title {
  font-size: 32;
  color: #303030;
}
.prize-container {
  border-color: #000000;
  border-width: 2px;
  background-color: transparent;
}
#claimButton {
  margin-bottom: 10px;
}
